#dashboardFrame {
    width: 1000px;
}

div.toolFrame {
    display: flex;
    flex-direction: column;
    width: 800px;
    position: fixed;
    right: 10px;
}

div {
    display: inline-block;
    border-color: #cccccc;
    padding: 1px;
}

div.table {
    background-color: #eee;
    width: 80%;
    border-style: solid;
    border-width: 1px
}

div.project {
    background-color: #ddf;
    color: #220;
    margin-left: 20px;
    padding-left: 5px;
    width: 100%;
    border-style: solid;
    border-width: 1px
}

div.issuetype {
    background-color: #bfb;
    color: #404;
    margin-left: 40px;
    padding-left: 5px;
    width: 100%;
    border-style: solid;
    border-width: 1px
}

div.issue {
    background-color: #fff;
    color: #000;
    padding-left: 5px;
    width: 100%;
    border-style: solid;
    border-width: 1px
}

div.id {
    float: left;
    width: 3%;
    text-align: right;
    padding-right: 3px;
    background-color: inherit;
}

div.name {
    float: left;
    width: 80%;
    padding-left: 3px;
    background-color: inherit;
}

div.status {
    float: left;
    width: 7%;
    text-align: left;
    padding-right: 3px;
    background-color: inherit;
}

div.priority {
    float: left;
    width: 7%;
    text-align: left;
    padding-right: 3px;
    background-color: inherit;
}

div.new {
    background-color: #eef;
}

div.active {
    background-color: #fdd;
}

div.closed {
    background-color: #dfd;
}

div.high {
    background-color: #fbb;
}

div.medium {
    background-color: #bfb;
}

div.low {
    background-color: #bbf;
}
